#dw {
	background-color: #BDE3E1;
}

#dw .container {
	min-height: 600px;
	height: 100%;
}

#dw #logo {
	margin: 20px 0;
}

#dw .navbar {
  position: fixed;
  width: 200px;
}

#dw .navbar ul {
	padding-left: 30px;
}

#dw .navbar input {
	margin-bottom: 10px;
	height: 40px;
}

#dw .navbar input.input-large {
  width: 270px;
}

#dw .navbar input #date {
  margin-bottom: 10px;
  height: 40px;
}

#dw .navbar span {
	padding: 14px 0;
	width: 40px;
}

#dw .navbar span p {
	padding: 0;
}

#dw .hero-unit {
	margin: 60px 20px 80px 20px;
	padding: 20px 40px 40px 40px;
  min-height: 200px;
  font-size: 1.1em;
}

#dw .top-half {
	display: inline;
}

#dw .price {
	float: left;
	margin-top: -90px;
	margin-left: -90px;
	width: 150px;
	height: 150px;
	background-image:url("/img/single_cloud.png");
	text-align: center;
	line-height: 160px;
	font-weight: bold;
	font-size: 1.4em;
}

#dw .savings {
	float: left;
	margin-left: 20px;
}

#dw .bottom-half {
	clear: both;
}

#dw .bottom-half table td {
	padding: 5px;
	margin-top: -20px;
}

#dw .bottom-half .below-table {
	display: inline;
}

#dw .btn-success {
	margin-top: 20px;
	float: left;
}

#dw .flight-no {
	float: left;
	margin-top: 28px;
	margin-left: 10px;
}

ul.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

ul.ui-autocomplete > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

ul.ui-autocomplete > li > a:hover,
ul.ui-autocomplete > li > a:focus,
ul.ui-autocomplete:hover > a,
ul.ui-autocomplete:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

ul.ui-autocomplete > .active > a,
ul.ui-autocomplete > .active > a:hover,
ul.ui-autocomplete > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

#dw footer {
	background-image:url("/img/bk_header_cloud_trans.png");
	background-repeat: repeat-x;
	height: 350px;
	text-align: center;
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#dw footer p {
	position: absolute;
	bottom: 10px;
	left: 46%;
}
