<div class="top-bar">
	<div class="navbar">
		<ul class="nav">
			<div id="logo">
				<img src="/img/fs_logo.png">
			</div>
      <form class="form-inline">
      	<div class="input-prepend">
	      	<span class="add-on"><p>From:</p></span>
				  <input type="text" class="input-large" id="origin"placeholder="Where you are...">
				</div>
				<div class="input-prepend">
			  	<span class="add-on">To:</span>
			  	<input type="text" class="input-large" id="destination" placeholder="Where you wanna go...">
				</div>
			  <div class="input-prepend">
			  	<span class="add-on">On:</span>
				  <div id="datetimepicker4" class="input-append">
				    <input id="date" data-format="yyyy-MM-dd" type="text" class="input-small" placeholder="(Select)"></input>
				    <span class="add-on">
				      <i class="icon-calendar icon-black">
				      </i>
				    </span>
				  </div>
				</div>
				<div>
			  	<button type="submit" class="btn btn-info btn-large">Filter</button>
			  <div>
			</form>
  	</ul>
	</div>
</div>